[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
faker = "*"
motor = "*"
python-dotenv = "*"
starlette = "*"
uvicorn = "*"
dnspython = "*"

[requires]
python_version = "3.8"
